@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textPrimary font-sans;
}

html {
  scroll-behavior: smooth;
}


/* Ocultar scroll visible pero permitir scroll funcional */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
